.banner {
    background-color: #f9f9f9;
    padding: 2.5rem;
}

@media only screen and (min-width: 1201px) {
    .banner {
        align-items: center;
        .banner-text-container {
            margin-left: auto;
            flex: 0 0 720px;

            .banner-text {
                padding-right: 70px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .banner {
        align-items: stretch;

        .banner-text-container {
            padding: 15px;
            width: 50%;
        }

        .banner-image-container {
            padding: 15px;
            width: 50%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .banner {
        padding: 0;
        flex-wrap: wrap-reverse;

        .banner-text-container {
            width: 100%;
        }

        .banner-image-container {
            width: 100%;
            height: 250px;
        }
    }
}
