.review-container {
    width: 800px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #e6e6e6;
    margin: 30px auto;

    .review-item {
        padding: 60px;
        pointer-events: none;

        .review-content {
            position: relative;

            .quote {
                font-family: "Francois One", sans-serif;
                font-size: 200px;
                height: 15px;
                display: inline-block;
                vertical-align: bottom;
                padding-right: 20px;
                color: #ddd;
            }
            .stars {
                height: 20px;
                background-image: url(/star.png);
                background-size: auto 100%;
                margin: 5px auto 5px 0;
            }
            .stars-5 {
                width: 108px;
            }
            .stars-4 {
                width: 86.4px;
            }
            .stars-3 {
                width: 64.8px;
            }
            .stars-2 {
                width: 43.2px;
            }
            .stars-1 {
                width: 21.6px;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .review-container {
        padding: 0 2.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .review-container {
        .review-item {
            padding: 60px 10px;
        }
    }
}